<header xmlns:th="http://www.thymeleaf.org">
    <div class="bg-light text-right font-weight-light">
        <a th:href="@{/logout}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                <path fill-rule="evenodd"
                      d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg>
            Одјави се</a>
    </div>
    <nav class="navbar navbar-expand-lg bg-light navbar-light">
        <div class="container d-flex justify-content-center">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <a class="navbar-brand" href="https://finki.ukim.mk/">
                        <img
                                id="finki-logo"
                                src="https://finki.ukim.mk/sites/default/files/logo_10.png"
                                alt="FINKI Logo"
                                draggable="false"
                                height="80"
                        /></a>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav align-items-center mx-auto">
                            <li class="nav-item">
                                <a th:href="@{/courses}" class="nav-link mx-2 btn btn-outline-primary"><i
                                        class="fas fa-plus-circle pe-2"></i>Сите предмети</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-2 btn btn-outline-secondary" th:href="@{/courses/filtered}"><i
                                        class="fas fa-bell pe-2"></i>Филтрирај</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-2 btn btn-outline-info" th:href="@{/personal}"><i
                                        class="fas fa-heart pe-2"></i>Мои предмети</a>
                            </li>
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <li class="nav-item">
                                    <a class="nav-link mx-2 btn btn-danger text-white" th:href="@{/admin}"><i
                                            class="fas fa-heart pe-2">Модифицирај</i></a>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>