<style>
    .intro {
        height: 100%;
    }

    .gradient-custom {
        /* fallback for old browsers */
        background: #fa709a;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to bottom right, rgba(250, 112, 154, 1), rgba(254, 225, 64, 1));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to bottom right, rgba(250, 112, 154, 1), rgb(64, 238, 254))
    }
</style>
<section class="intro">
    <div class="mask d-flex align-items-center h-100 gradient-custom">
        <div class="container pt-5 pb-5">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2">Додај курс</h3>

                            <form method="post" th:action="@{/admin/add-course}">

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" name="courseName" id="courseName" class="form-control"/>
                                            <label class="form-label" for="courseName">Име</label>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="number" name="year" id="year" class="form-control"/>
                                            <label class="form-label" for="year">Година</label>
                                        </div>

                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-12">
                                        <div class="mt-4">
                                            <input class="btn btn-warning btn-lg" type="submit" value="Додади"/>
                                        </div>

                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>