<div class="container mb-4">
    <div class="row">
        <div class="table-responsive">
            <div class="container">
                <section id="services" class="services section-bg">
                    <div class="container">
                        <h3 class="mt-4 md-4">Задолжителни предмети според насоката:</h3>
                        <div class="row pb-4" style="background-color: #eeeeee">
                            <div th:each="mandatory : ${mandatories}"
                                 class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 m4-md-0">
                                <div class="card">
                                    <div class="card-header h4" th:text="${mandatory.getName()}">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-subtitle mb-2 text-muted">Коментари(<span
                                                th:text="${mandatory.getComments().size()}"></span>)</h6>
                                        <p class="card-text">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Година: <i th:text="${mandatory.getYear()}"></i>
                                            </li>
                                            <li class="list-group-item">Професори: <i>ДОДАЈ ПРОФЕСОРИ ЗА КУРС</i></li>
                                        </ul>
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <a class="card-link btn-sm btn-primary text-white text-center col-3"
                                               th:href="@{'/courses/details/{id}' (id=${mandatory.getID()})}">Детали</a>
                                            <form th:method="POST"
                                                  th:action="@{'/personal/add-course/{id}' (id=${mandatory.getID()})}"
                                                  class="col">
                                                <button type="submit" class="card-link btn-sm btn-secondary text-white">
                                                    Додади предмет
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <h3 class="mt-4 md-4">Изборни предмети според преференца:</h3>
                        <div class="row pb-4" style="background-color: #e7effd">
                            <div th:each="electory : ${electorials}"
                                 class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 m4-md-0">
                                <div class="card">
                                    <div class="card-header h4" th:text="${electory.getName()}">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-subtitle mb-2 text-muted">Коментари(<span
                                                th:text="${electory.getComments().size()}"></span>)</h6>
                                        <p class="card-text">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Година: <i th:text="${electory.getYear()}"></i>
                                            </li>
                                            <li class="list-group-item">Професори: <i>ДОДАЈ ПРОФЕСОРИ ЗА КУРС</i></li>
                                        </ul>
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <a class="card-link btn-sm btn-primary text-white text-center col-3"
                                               th:href="@{'/courses/details/{id}' (id=${electory.getID()})}">Детали</a>
                                            <form th:method="POST"
                                                  th:action="@{'/personal/add-course/{id}' (id=${electory.getID()})}"
                                                  class="col">
                                                <button type="submit" class="card-link btn-sm btn-secondary text-white">
                                                    Додади предмет
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <h3 class="mt-4 md-4">Останати изборни предмети:</h3>
                        <div class="row pb-4" style="background-color: rgba(255,228,181,0.58)">
                            <div th:each="other : ${others}"
                                 class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 m4-md-0">
                                <div class="card">
                                    <div class="card-header h4" th:text="${other.getName()}">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-subtitle mb-2 text-muted">Коментари(<span
                                                th:text="${other.getComments().size()}"></span>)</h6>
                                        <p class="card-text">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Година: <i th:text="${other.getYear()}"></i>
                                            </li>
                                            <li class="list-group-item">Професори: <i>ДОДАЈ ПРОФЕСОРИ ЗА КУРС</i></li>
                                        </ul>
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <a class="card-link btn-sm btn-primary text-white text-center col-3"
                                               th:href="@{'/courses/details/{id}' (id=${other.getID()})}">Детали</a>
                                            <form th:method="POST"
                                                  th:action="@{'/personal/add-course/{id}' (id=${other.getID()})}"
                                                  class="col">
                                                <button type="submit" class="card-link btn-sm btn-secondary text-white">
                                                    Додади предмет
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>